body, h1 {
    margin: 0;
    padding: 0;
    font: 14px "Helvetica Neue", Helvetica, sans-serif;
}

body {
    height: 1000px;
}

/* navbar */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid lightgray;
    z-index: 1;
}

#navbar .category-name {
    font-weight: 700;
}

#navbar .logo-container {
    width: 20%;
    min-width: 150px;
    max-width: 195px;
    margin: 0 auto;
}

#navbar .nyt-logo {
    width: 100%;
}

#navbar > * {
    margin: 5px;
}

#navbar > * > * {
    margin: 0 5px;
}
/*******************************************/

/* main container */
.main-container {
    margin: 100px 0;
}

/* main header */
.main-header > * {
    margin: 20px auto;
}

.main-header .header-heading {
    width: 600px;
}

.main-header .header-heading h1 {
    font-size: 2.5em;
    font-weight: 700;
    font-style: italic;
}

.main-header figure {
    display: block;
    min-width: 945px;
    max-width: 1200px;
    width: 70%;
    margin: auto;
}

.main-header figure img {
    width: 100%;
}

.main-header figure figcaption {
    width: 75%;
    padding: 5px 0;
}

.main-header figure figcaption span {
    color: gray;
    font-size: 0.8em;
    padding: 0 5px;
}

.main-header .header-meta {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.main-header .header-meta #author {
    display: block;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 700;
}
/*******************************************/

/* main article */
.article-container .article-section {
    display: block;
    width: 600px;
    margin: auto;
    font-size: 1.4em;
    line-height: 1.5;
}
.article-container .article-section .section-heading {
    font-weight: 700;
}

.article-container .insert-container {
    width: 600px;
    margin: auto;
}

.article-container .insert-container span {
    display: block;
    width: 60%;
    margin: auto;
    text-align: center;
    font-weight: 700;
}

.article-container .insert-container a {
    display: block;
    width: 60%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: rgb(50, 104, 145);
    font-weight: 700;
}

.article-container .insert-container div {
    width: 12%;
    margin: 18px auto;
    border-bottom: 1px solid gray;
}

/* interactive container*/
.article-container .interactive-container {
    position: relative;
    display: block;
    min-width: 720px;
    max-width: 945px;
    width: 100%;
    height: 753px;
    margin: auto;
    background-color: transparent;
}

.interactive-container .interactive-img {
    position: absolute;
    left: 0;
    top: 75px;
    z-index: -1;
    width: 100%;
}

.interactive-container h1 {
    margin: 6px 0;
    font-size: 1.5em;
    font-weight: 700;
}

.interactive-container div {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#interactive-descriptions-one {
    top: 220px;
}

#interactive-descriptions-two {
    top: 500px;
}

.interactive-container div p {
    width: 228px;
    margin: 0;
}

.interactive-container div p span {
    font-size: 0.75em;
    font-weight: 800;
}

.interactive-container .interactive-author {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.interactive-container .interactive-author div {
    display: block;
    border-top: 1px solid black;
    width: 20%;
}

.interactive-container .interactive-author span {
    display: block;
    margin: 20px 0;
}
/*******************************************/

/* video & figure containers */
.article-container .video-container {
    display: block;
    width: 600px;
    margin: auto;
    background-color: transparent;
}

.video-container iframe {
    width: 100%;
}

.video-container figcaption {
    display: block;
    margin-top: 10px;
}

.video-container figcaption span, 
.figure-container .figure-credit {
    display: block;
}

.video-container .video-credit,
.figure-container .figure-credit,
#print-blurb {
    font-size: 0.8em;
    color: gray;
}

.article-container .figure-container {
    display: block;
    max-width: 720px;
    width: 600px;
    margin: auto;
    background-color: transparent;
}

.figure-container .figure-img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.figure-container figcaption {
    width: 580px;
    margin-top: 10px;
    line-height: 1.4;
}
/*******************************************/

a:visited {
    color: gray;
}

.article-container .bottom-article-btns {
    width: 600px;
    height: 36px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-btn,
#search-btn {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    color: lightgray;
}

#subscribe-btn,
#login-btn,
#comments-btn {
    background-color: rgb(50, 104, 145);
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 0;
    font-weight: 600;
    font-kerning: auto;
}

#subscribe-btn,
#login-btn {
    font-size: 0.8em;
    padding: 8px 12px;
}

#comments-btn {
    width: 330px;
    height: inherit;
}

.main-header .header-meta .social-btns ul,
.bottom-article-btns div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-header .header-meta .social-btns ul li,
.bottom-article-btns div ul li {
    float: left;
}

.main-header .header-meta .social-btns ul li a, 
.bottom-article-btns div ul li a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px;
}